Ques 1

Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
birth_year = 1991
years_list = [birth_year + i for i in range(6)]

Ques 2:

In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

My third birthday would be in the year 1993, as I was 0 years old in 1991, 1 year old in 1992, and 2 years old in 1993.

Ques 3:

In the years list, which year were you the oldest?

For the birth year 1991, I would be the oldest in the year 1996

Ques 4: Make a list called things with these three strings as elements:"mozzarella", "cinderella", and "salmonella"

In [2]:
D = ["mozzarella", "cinderella", "salmonella"]

Ques 5:

Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [3]:
D[1] = D[1].capitalize()
print(D)

['mozzarella', 'Cinderella', 'salmonella']

Ques 6:Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [4]:
surprise = ["Groucho", "Chico", "Harpo"]

Ques 7: Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [5]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1] = surprise[-1].capitalize()

Ques 8:Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [6]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Ques 9: Write the French word for walrus in your three-word dictionary e2f.

The French word for "walrus" is "morse" in the e2f dictionary

Ques 10:Make a French-to-English dictionary called f2e from e2f. Use the items method.

To make the French-to-English dictionary f2e from the e2f dictionary using the items() method, we can use the following code:

In [7]:
f2e = {value: key for key, value in e2f.items()}

Ques 11:Print the English version of the French word chien using f2e.

To print the English version of the French word "chien" using f2e, we can use the following code:

In [9]:
print(f2e['chien'])

dog

Ques 12: Make and print a set of English words from the keys in e2f.

In [10]:
english_words = set(e2f.keys())
print(english_words)

{'cat', 'walrus', 'dog'}

Ques 13 : Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
Make all the other keys refer to empty dictionaries.

We can use the following code to build the multilayer dictionary life as described:

In [11]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

Ques 14: Print the top-level keys of life.

We may use the keys() method to turn the life dictionary's top-level keys into a list and print them. Here is the key:

In [12]:
top_level_keys = list(life.keys())
print(top_level_keys)

['animals', 'plants', 'other']

Ques 15: Print the keys for life['animals'].

Use the nested dictionary's keys() method to print the keys for life['animals']. Here is the key:

In [13]:
animal_keys = list(life['animals'].keys())
print(animal_keys)

['cats', 'octopi', 'emus']

Ques 16: Print the values for life['animals']['cats']

We may directly access the nested list to print the data for life['animals']['cats']. As for the code:

In [14]:
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']