# Ques 1:

Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [11]:
test1 = 'This is a test of the emergency text system.'
with open('test.txt', 'w') as file:
    file.write(test1)

# Ques 2:

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [12]:
with open('test.txt', 'r') as file:
    test2 = file.read()

We can use a straightforward comparison to see if test1 and test2 differ from one another:

In [13]:
difference = test1 == test2
print(difference)

True

# Ques 3:

Create a CSV file called books.csv by using these lines: 
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [14]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

filename = 'books.csv'

with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

# Ques 4:

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [15]:
import sqlite3

# Connect to the database (creates a new file if it doesn't exist)
connection = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = connection.cursor()

# Create the books table with title, author, and year columns
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
connection.commit()
connection.close()

# Ques 5:

Read books.csv and insert its data into the book table.

In [16]:
import csv
import sqlite3

# Connect to the database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Read data from books.csv
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row
    for row in reader:
        title, author, year = row
        # Insert each row into the books table
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, int(year)))

# Commit the changes and close the connection
connection.commit()
connection.close()

# Ques 6:

Select and print the title column from the book table in alphabetical order.

In [17]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Select the title column from the books table in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")
rows = cursor.fetchall()

# Print the titles
for row in rows:
    print(row[0])

# Close the connection
connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# Ques 7:

From the book table, select and print all columns in the order of publication.

In [18]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Select all columns from the books table in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")
rows = cursor.fetchall()

# Print the columns
for row in rows:
    print(row)

# Close the connection
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# Ques 8:

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [19]:
from sqlalchemy import create_engine

# Create the SQLAlchemy engine to connect to the database
engine = create_engine('sqlite:///books.db')

# Establish a connection
connection = engine.connect()

# Perform database operations...

# Close the connection
connection.close()

# Ques 9:

Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Create a Redis hash called "test" with fields and values
r.hset("test", "count", 1)
r.hset("test", "name", "Fester Bestertester")

# Get all fields and values from the "test" hash
all_fields = r.hgetall("test")

# Print all fields and values
for field, value in all_fields.items():
    print(f"{field}: {value.decode()}")  # Convert bytes to string

# Close the Redis connection
r.close()

# Ques 10:

Increment the count field of test and print it.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Increment the count field of test by 1
updated_count = r.hincrby("test", "count", 1)

# Print the updated count
print("Updated count:", updated_count)

# Close the Redis connection
r.close()