# Ques 1

In [136]:
def next_in_line(lst, num):
    if lst:
        lst.pop(0)
        lst.append(num)
        return lst
    else:
        return "No list has been selected"

# Example usage
print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))
print(next_in_line([1, 10, 20, 42], 6))
print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

# Ques 2

In [ ]:
def get_budgets(lst):
    return sum(person['budget'] for person in lst)

# Example usage
print(get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]))

print(get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]))

# Ques 3

In [138]:
def alphabet_soup(txt):
    return ''.join(sorted(txt))

# Example usage
print(alphabet_soup("hello"))
print(alphabet_soup("edabit"))
print(alphabet_soup("hacker"))
print(alphabet_soup("geek"))
print(alphabet_soup("javascript"))

ehllo
abdeit
acehkr
eegk
aacijprstv

# Ques 4

In [139]:
def compound_interest(p, t, r, n):
    amount = p * (1 + r / n) ** (n * t)
    return round(amount, 2)

# Example usage
print(compound_interest(10000, 10, 0.06, 12))
print(compound_interest(100, 1, 0.05, 1))
print(compound_interest(3500, 15, 0.1, 4))
print(compound_interest(100000, 20, 0.15, 365))

18193.97
105.0
15399.26
2007316.26

# Ques 5

In [140]:
def return_only_integer(lst):
    return [num for num in lst if isinstance(num, int)]

# Example usage
print(return_only_integer([9, 2, "space", "car", "lion", 16]))
print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))
print(return_only_integer([10, "121", 56, 20, "car", 3, "lion"]))
print(return_only_integer(["String", True, 3.3, 1]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[True, 1]